class Credentials{
    public:
        //Wifi
        const String WIFI_SSID = "SSID";
        const String WIFI_PASSWORD = "password";

        //Firebase
        const String FIREBASE_HOST = "you-project.firebaseio.com";
        const String FIREBASE_AUTH = "you-key";
};